{% extends "base.html" %} 

{% block title %}
Todo List
{% endblock title %}
    
    
{% block content %}
<h2>Todo List</h2>
<ul>
  {% for todo in todos %}
    {% if todo.completed %}
    <a href="{% url 'detail' todo.id %}">
      <del><li style="font-size: 40px;">{{todo}}</li></del>
    </a>
    {% else %}
    <a href="{% url 'detail' todo.id %}">
      <li style="font-size: 40px;">{{todo}}</li>
    </a>
    {% endif %}
    {% endfor  %}
</ul>        
<a href="{% url 'add' %}">
  <button>Add Page</button>
</a>
{% endblock content %}